$color-gray-light: hsl(220, 11%, 95%);
$color-gray-light-alternative: hsl(240, 43%, 90%);
$color-gray-alternative: hsl(209, 38%, 78%);
$color-gray: hsl(209, 12%, 57%);
$color-gray-medium: tint-color($color-gray, 60%);
$color-gray-dark: hsl(210, 11%, 52%);

$color-white: hsl(0, 0%, 100%);
$color-black: hsl(345, 21%, 7%);
