$dashboard-sidebar-width: 18vw;
$dashboard-sidebar-width-constrained: 64px;
$dashboard-sidebar-expanded-max-width: 264px;
$dashboard-sidebar-expanded-min-width: 230px;
$dashboard-navbar-height: 56px;
$dashboard-footer-height: 16px;
$sidebar-form-width: 30%;

$default-radius: 0.5rem;
$rounded: 999px;
