$padding-x: 1.5rem;
$padding-y: 0.5rem;

$margin-r: 0.5rem;

$padding-x-xs: 0.5rem;
$padding-y-xs: 0.125rem;

$padding-x-sm: 1rem;
$padding-y-sm: 0.25rem;

$padding-x-lg: 1.75rem;
$padding-y-lg: 0.75rem;

$margin-x: 1.5rem;
$margin-y: 0.5rem;

$margin-x-xs: 0.5rem;
$margin-y-xs: 0.125rem;

$margin-x-sm: 1rem;
$margin-y-sm: 0.25rem;

$margin-x-lg: 1.75rem;
$margin-y-lg: 0.75rem;

$spacing-1: 0.25rem;
$spacing-2: 0.5rem;
$spacing-3: 0.75rem;
$spacing-4: 1rem;
$spacing-5: 1.25rem;
$spacing-6: 1.5rem;
$spacing-7: 1.75rem;
$spacing-8: 2rem;